@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/cal-heatmap/dist/cal-heatmap.css";

/* moc styles */
@import "./variables.css";
@import "./fonts.css";
@import "./components.css";
@import "./utilities.css";
@import "./rarity.css";
@import "./footer.css";
@import "./contributor.css";

.affinity-dark {
  color: var(--affinity-dark);
}

.affinity-light {
  color: var(--affinity-light);
}

body {
  color: var(--fg-main);
  background: var(--bg-main);
}
